<!-- app/views/customer/reviews/_service_with_reviews.html.erb -->
<div class="container mx-auto my-8">
  <h2 class="text-3xl font-semibold mb-6 text-center">Services with Reviews</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-8">
    <% services_with_reviews.each do |service| %>
      <div class="bg-[#030637] p-6 rounded-md shadow-md">
        <a href="#" class="block">
          <% if service.avatar.present? %>
            <%= image_tag(service.avatar, alt: "Product Image", class: "w-full h-40 object-cover rounded-md mb-4") %>
          <% end %>
          <h3 class="text-lg font-semibold mb-2 text-white"><%= service.title %></h3>
          <% current_user_reviews = service.reviews.where(user_id: current_user.id) %>
          <% current_user_reviews.each do |review| %>            
            <div class="border-t mt-4 pt-4 flex flex-col items-start">
              <div class="flex space-x-2">
                <% review.rating.to_i.times do %>
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                         class="w-6 h-6 text-yellow-500 cursor-pointer">
                      <path fill-rule="evenodd"
                            d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                            clip-rule="evenodd"></path>
                    </svg>
                  </span>
                <% end %>
              </div>
              <p class="text-white mt-2"><strong>Comment:</strong> <%= review.comment %></p>
            </div>
          <% end %>
        </a>
      </div>
    <% end %>
  </div>
</div>
