<div class="dashboard-container">
  <div class="dashboard-container">
    <div class="p-8" data-controller="rating">
      <div class="mb-4">
        <button data-action="click->rating#reviewed" class="btn btn-primary mr-2">Reviews</button>
        <button data-action="click->rating#pendingReviews" class="btn btn-primary">Pending reviews</button>
      </div>
      <div id="pending_reviews" class="booking-table">
        <%= turbo_stream.append "pending_reviews" do %>
          <%= render partial: 'service_without_reviews', locals: {  booked_services_without_reviews:  @booked_services_without_reviews } %>
        <% end %>
      </div>
      <div id="my_reviews" class="booking-table" style="display: none;">
        <%= turbo_stream.append "my_reviews" do %>
          <%= render partial: 'service_with_reviews', locals: { services_with_reviews: @services_with_reviews  } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
