/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "style.css";
@import "style.scss";
@import "bootstrap.min.css";
@import "tiny-slider.css";
@import '~slick-carousel-themes/slick/slick-theme.css';

.main-container {
  padding-top: 50px;
  background: white;
  padding-bottom: 150px;
}
.notice,
.alert {
  text-align: center;
  padding: 15px;
  margin: 0;
  width: 300px;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  font-weight: bold;
}

.notice {
  background-color: #ebfffc;
  color: #3b5d50;
}

.alert {
  background-color: rgb(255, 255, 185);
  color: #3b5d50;
}

.hidden {
  display: none !important;
}

.btn-logout {
  background-color: transparent !important;
  color: yellow;
  width: 60px;
  height: 20px;
}

.dashboard-container {
  padding-left: 130px;
  padding-top: 80px;
  padding-right: 130px;
}
