<!-- app/views/seller/services/index.html.erb -->
<div class="bg-gradient-to-r from-green-400 to-yellow-500 p-8 text-white">
  <h1 class="text-2xl font-bold mb-4">Your Services</h1>

  <% if @services.any? %>
    <% @services.each do |service| %>
      <!-- Display information about each service -->
      <div class="mb-4">
        <p class="mb-2"><%= service.title %> - Status: <%= service.status %></p>
        <!-- Additional details as needed -->
        <%= link_to 'View Details', seller_service_path(service), class: 'text-blue-500 underline' %>
      </div>
    <% end %>
  <% else %>
    <p class="text-gray-500">No services available.</p>
  <% end %>

  <%= link_to 'Create New Service', new_seller_service_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
</div>
